
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/*body{
background-image: url(/img/backgroung_img.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1{
    background-color:gray;
    color:green; 
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 10;
    font-style: normal;
}

p{
    background-color:palevioletred;
    color:white; 
    text-align: left;
}*/

#sample_id{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    padding-left:50px;
    padding-bottom: 20px;
    padding-right: 200px;
    margin:20px;
    border: 20px solid rgb(235, 10, 10);
}

.sample_class{
    background-color:black;
    color:green; 
    text-align: center;
}

.box_1{
    width: 50px;
    height: 50px;
    background-color:rgb(255, 0, 0) ;
    position: sticky;
    top: 0;
    z-index: -1;
    
}

.box_2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: fixed;
    top: 100px;
    right: 100px;
}